<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
  <title>Audio List Player Widget Responsive Website Template | Home :: w3layouts</title>
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Audio List Player Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
  function hideURLbar(){ window.scrollTo(0,1); } </script>
  <!-- //for-mobile-apps -->
<!--  <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />-->
  <!-- js -->
  <script src="js/jquery-1.11.1.min.js"></script>
  <!-- //js -->
  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- main -->
<div class="audio-main">
  <h1>Audio List Player Widget</h1>
  <app-player></app-player>
  <div class="footer">
    <div class="copy-right">
      <p> &copy; 2020 Audio List Player Widget. All Rights Reserved | Design by  xD</p>
    </div>
  </div>
</div>
<!-- //main -->
<!-- script for play-list -->
<!--<link href="css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css" />-->
<script type="text/javascript" src="js/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="js/jplayer.playlist.min.js"></script>


<!-- //script for play-list -->

</body>
</html>
